---
const {
  title = "Security Cars | Seguridad y Accesorios para Autos en Lima",
  description = "Security Cars ofrece sistemas de seguridad, GPS, alarmas, cámaras de retroceso, luces LED, alzavidrios y audio para autos en Lima Metropolitana. Instalación a domicilio y en taller. Cotiza hoy.",
  image = "imagen tipo banner 1200x630",
  url = "https://securitycars.com",
  ogTitle = title,
  ogDescription = description,
  ogImage = image,
  twitterTitle = title,
  twitterDescription = description,
  twitterImage = image,
  alt = title,
  noindex = false,
  structuredData = null,
  preloadImage = null,
} = Astro.props;


---

<!-- Extras importantes -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8" />
<meta name="language" content="es-PE" />
<meta
  name="robots"
  content={
    noindex
      ? "noindex, nofollow"
      : "index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
  }/>

<!-- SEO básico -->
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={url} />

<!-- Open Graph (Facebook, WhatsApp, etc.) -->
<meta property="og:type" content="website" />
<meta property="og:title" content={ogTitle || title} />
<meta property="og:description" content={ogDescription || description} />
<meta property="og:image" content={ogImage || image} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content={alt}/>
<meta property="og:url" content={url} />
<meta property="og:locale" content="es_PE" />
<meta property="og:site_name" content="Security Cars" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={twitterTitle || title} />
<meta name="twitter:description" content={twitterDescription || description} />
<meta name="twitter:image" content={twitterImage || image} />
<meta name="twitter:image:alt" content={alt}/>

<!-- Meta Geo -->
<meta name="geo.region" content="PE-LIM" />
<meta name="geo.placename" content="La Molina, Lima, Perú" />
<meta name="geo.position" content="-12.099997, -76.943963" />

<!-- Icono -->
<link rel="icon" href="/favicon.ico" />

<!-- PRELOAD DE IMAGEN (opcional) -->
{preloadImage && (
  <link rel="preload" as="image" href={preloadImage} />
)}


<!-- SCHEMA STRUCTURED DATA -->
{
  Array.isArray(structuredData) ? (
    structuredData.map((schema) => (
      <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    ))
  ) : (
    structuredData && (
      <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />
    )
  )
}

