---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Head from "./Head.astro";
const { title, description, image, url, ogTitle, ogDescription, ogImage, twitterTitle, twitterDescription, twitterImage, alt, noindex, structuredData, preloadImage} = Astro.props;
---
<!doctype html>
<html lang="es-PE">
  <head>
    <Head title={title} description={description} image={image} url={url} ogTitle={ogTitle} ogDescription={ogDescription} ogImage={ogImage} twitterTitle={twitterTitle} twitterDescription={twitterDescription} twitterImage={twitterImage} alt={alt} noindex={noindex} structuredData={structuredData} preloadImage={preloadImage}/>
  </head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>