---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Head from "./Head.astro";

const {
  title,
  description,
  keywords,
  image,
  url,
} = Astro.props;
---


<!doctype html>
<html lang="es">
  <head>
    <Head
      title={title}
      description={description}
      keywords={keywords}
      image={image}
      url={url}
    />
  </head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

